{% extends 'landing/base.html' %}

{% block left_content %}			
<h1>Sharex</h1>
<h3>It's time to figure out how important it is for you to connect with the <strong>right</strong> startups.</h3>
</div>
{% endblock %}
{% block right_content %}
<div class="narrow">
	<div class="form-box align-center">
		<form action="{% url 'pay_view' %}" method="POST" id='paymentform'>
			{% csrf_token %}
			<h2>Go big or go home</h2>
			<p>For only <strong>$24.99</strong> we dig deep into our database to find the perfect connections for your startup.</p>
			<div class="form-row">
				<input type="hidden" name="token" id="thetoken" />
				<input id="customButton" type="submit" value="Go big!" class="btn btn-wide">
			</div>
		</form>
		<div class="align-center"><a href="{% url 'success_view' %}">Or get a random incubator for free.</a></div>
	</div>
	<div class="shadow"></div>
	<div class="meta align-center">No-questions-asked 30 days money back guarantee. We will never charge you before we have the perfect inbubator for you.</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
    key: 'pk_live_EDVyH4o35uksP4ZXgXRDmoNn',
    token: function(token) {
    	$('#thetoken').val(token.id);
    	$('#paymentform').submit();
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Sharex',
      description: 'Get your online incubator',
      amount: 2499,
      email: '{{ user.email }}',
      allowRememberMe: false,
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });

  $(function() {
    mixpanel.track('Payment page');
  });
</script>
{% endblock %}